<web-app>  "C:/Program Files/Apache Software Foundation/Tomcat 7.0/webapps/Paint/index.html"
  
<servlet>  
<servlet-name>paint</servlet-name>  
<servlet-class>Paint</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>paint</servlet-name>  
<url-pattern>/paint</url-pattern>  
</servlet-mapping>  
  
</web-app>  
